article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

.page-header {
  max-width: 100%;
  min-width: 320px;
  background: rgb(30, 150, 250); //Postgrain color palette
  justify-content: space-between;
}

.page-header section{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  line-height: 30px;
}

figure {
  margin: 1em 40px;
  display: flex;
  flex-direction: row;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin: 25px 40px 25px 40px;
}

figcaption{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:rgb(232, 244, 254)
}

.navbar.navbar-default {
    z-index: 998;
}

.navbar {
  background-color: #fff;
  height: 53px;
  border: 0;
  border-bottom: px solid #dbe1e8;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #e7e7e7;
}

.navbar-profiles {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100%;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-profiles-item-wrap {
  display: flex;
}

.navbar-profiles-item, .navbar-profiles .profile-thumbnail {
  cursor: pointer;
}

.profile-thumbnail-avatar.small {
  width: 29px;
  height: 29px;
}
.profile-thumbnail-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  margin: auto;
  border-radius: 50%;
  position: relative;
}
.small, small {
  font-size: 85%;
}

.profile-thumbnail-avatar.small>img {
  width: 29px;
  height: 29px;
}
.profile-thumbnail-avatar>img {
  width: 75px;
  height: 75px;
  border: 3px solid #d2d0d0;
  border-radius: 50%;
}
img {
  vertical-align: middle;
  border: 0;
}

nav{
  list-style: none;
  justify-content: flex-end;
}

.channels{
  display: flex;
  flex-direction: column!important;
  flex-wrap: nowrap;
}

h2{
  margin: 0px;
  padding-top: 15px;
  text-align: center;
  font-size: 30px;
  color:rgb(232, 244, 254)
}



main{
  justify-content: space-around;
}

#scheduleTable{
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

#scheduleTable>h3{
  font-size: 20px;
  text-align: center;
}

table, th, td{
  padding: 0px 10px 0px 10px!important;
  margin: 0px;
  vertical-align: middle;
  text-align: center;
  color:black;
}

th{
  background-color: rgb(30, 150, 250);
  text-align: center!important;
  font-size: 16px;
  color: rgb(232, 244, 254);
}

span{
  padding: 5px;
}

#updateForm{
  width: 400px;
}

.center{
  overflow-y:hidden; //Para tirar o scroll vertical que chega com bootstap
}

::ng-deep .mat-tab-labels {
  color: rgb(255, 255, 255);
  background-color:rgb(120, 192, 252);
  display: flex;
  justify-content: center;
  margin: 0px 40px 0px 40px;
}

::ng-deep .mat-tab-label-active {
  color: white;
  background-color: rgb(0, 53, 102);
  
}

::ng-deep .mat-tab-label, .mat-tab-link {
  font-size: 20px;
  font-weight: 500;
}

.updater{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4{
  margin: 0px;
}

strong{
  display:inline-block;
  width: 300px;
  overflow-wrap: break-word;
}

#imagePreview{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imagePreview>img{
  width: 150px;
  justify-self: center;
}

.btn-primary{
  padding: 7px;
  margin: 10px 0px 5px 0px;
}