/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("./assets/cool-background.png");
    background-size: 100%;
}

@media (max-width: 950px){

    body{
    background-size: 155%;
    }

}

@media (max-width: 600px){

    body{
    background-size: 250%;
    background-position-x: right;
    }

}